body {
  font-family:     'Aclonica', tahoma, lucida sans-serif, arial, sans-serif;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  width: 70%;
  align: center;
}
header{
  background: -moz-linear-gradient(-45deg, rgba(166,148,44,1) 4%, rgba(166,148,44,1) 10%, rgba(172,154,54,1) 19%, rgba(178,160,64,1) 28%, rgba(180,162,67,1) 31%, rgba(184,166,74,1) 37%, rgba(189,171,82,1) 44%, rgba(190,172,84,1) 46%, rgba(193,175,88,1) 50%, rgba(201,182,100,0.7) 61%, rgba(222,201,133,0) 90%, rgba(228,206,142,0) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(166,148,44,1) 4%,rgba(166,148,44,1) 10%,rgba(172,154,54,1) 19%,rgba(178,160,64,1) 28%,rgba(180,162,67,1) 31%,rgba(184,166,74,1) 37%,rgba(189,171,82,1) 44%,rgba(190,172,84,1) 46%,rgba(193,175,88,1) 50%,rgba(201,182,100,0.7) 61%,rgba(222,201,133,0) 90%,rgba(228,206,142,0) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(166,148,44,1) 4%,rgba(166,148,44,1) 10%,rgba(172,154,54,1) 19%,rgba(178,160,64,1) 28%,rgba(180,162,67,1) 31%,rgba(184,166,74,1) 37%,rgba(189,171,82,1) 44%,rgba(190,172,84,1) 46%,rgba(193,175,88,1) 50%,rgba(201,182,100,0.7) 61%,rgba(222,201,133,0) 90%,rgba(228,206,142,0) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6942c', endColorstr='#00e4ce8e',GradientType=1 );
  height: 150px;
}
section{
  background-color: #ffffff;
  border: 10px solid rgba(166,148,44,1);
  width: 70%;
  float: right;
}
footer {
    display: block;
    align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70%;
    background-color: #AB9935;
    color: #000;
    text-align: center;
}
.main-image{
  height: inherit;
  float: left;
  display: block;
  position: absolute;
  padding-right: 10px;
}
.family{
  float: right;
  border: 10px double #E2D8AC;
  margin: 0 auto 0 auto;
}
sidenav{
  height: 71%;
	width: 20%;
	position: absolute;
  background-color: #000;
  padding-top: 30px;
  display: block;
}
sidenav a{
  color: #f8f0d3;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
sidenav a:hover {
  background-color: #555;
  color: white;
}
.active {
  background-color: rgba(166,148,44,1);
  color: white;
}
h1{
  line-height: 150px;
  text-align: center;
  font-size: auto;
  vertical-align: middle;
}
h2 {
  text-align: center;
}
p{
  font-family: serif;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
